@font-face {
    font-family: againts;
    src: url("fonts/againts.otf") format("opentype");
}

body {
  background-image: url("./images/gradient_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #464646;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
}

#game {
  width: 100%;
  height: 100%;
  display: flex;
}

.display {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-panel {
  flex: 1;
  justify-content: center;
}

#game-panel {
  flex: 2;
  justify-content: space-around;
}

#title {
  font-size: 36px;
  position: relative;
  color: #209cb5;
  font-family: 'Fredericka the Great', cursive;
}

#remix {
  font-family: againts;
  position: absolute;
  left: 70px;
  top: 25px;
  color: #990016;
  font-size: 25px;
}

#round-info {
  display: flex;
  width: 100%;
}

.answers {
  background-color: rgba(240, 240, 240, 0.1);
  height: 90%;
  width: 84%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#clock, #score {
  width: 50%;
  font-size: 50px;
  color: blue;
  font-weight: bold;
  text-align: center;
}

#key-word {
  min-height: 80px;
  font-size: 80px;
  color: blue;
  font-weight: bold;
}

#entry-container {
  width: 75%;
  height: 8%;
  min-height: 80px;
}

#user-input {
  width: 100%;
  height: 100%;
  font-size: 32px;
  border: none;
  padding: 0;
  text-align: center;
  background-color: rgba(240, 240, 240, 0.1);
}

.answer {
  display: flex;
}

.tile {
  border: 1px solid #ffffff;
  width: 15px;
  height: 15px;
  margin: 1px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  #game {
    flex-direction: column;
  }
  #game-panel {
    order: 3;
  }
  #short-list {
    width: 40%;
  }
  #long-list {
    width: 40%;
  }
}
