*, div {
  border: 1px solid red;
  box-sizing: border-box;
}

body {
  background-image: url("./images/gradient_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #464646;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#game {
  width: 100%;
  height: 100%;
  display: flex;
}

.display {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.side-panel {
  flex: 1;
  justify-content: center;
}

#game-panel {
  flex: 2;
}

#title {
  font-size: 36px;
}

#round-info {
  display: flex;

}

.answers {
  background-color: rgba(240, 240, 240, 0.1);
  height: 90%;
}

#clock, #score {
  width: 50%;
  font-size: 80px;
  color: blue;
  font-weight: bold;
}

#word {
  font-size: 80px;
  color: blue;
  font-weight: bold;
}
