@font-face {
    font-family: againts;
    src: url("fonts/againts.otf") format("opentype");
}

body {
  background-image: url("./images/gradient_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #464646;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#game {
  width: 100%;
  height: 100%;
  display: flex;
}

.display {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-panel {
  flex: 1;
  justify-content: center;
}

#game-panel {
  flex: 2;
  justify-content: space-around;
}

#title {
  font-size: 36px;
}

#remix {
  font-family: againts;
}

#round-info {
  display: flex;
  width: 100%;
}

.answers {
  background-color: rgba(240, 240, 240, 0.1);
  height: 90%;
  width: 84%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#clock, #score {
  width: 50%;
  font-size: 50px;
  color: blue;
  font-weight: bold;
  text-align: center;
}

#key-word {
  font-size: 80px;
  color: blue;
  font-weight: bold;
}

/*article * {
  border: 1px solid red;*/
/*}*/
