@font-face {
    font-family: againts;
    src: url("fonts/againts.otf") format("opentype");
}

#ins-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 2;
}

.instructions {
  transform: scale(0.1);
  position: absolute;
  left: 0; right: 0;
  top: 30%;
  width: 80%;
  height: auto;
  margin: auto;
  text-align: center;
  font-family: Spectral SC, serif;
  transition: all 0.5s linear;
  transform-origin: center;
  transform-style: preserve-3d;
  opacity: 0;
  padding: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: rgba(240, 240, 240, 1);
}

.active {
  transform: scale(1.0);
  opacity: 1;
}

body {
  background-image: url("./images/gradient_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #464646;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
}

#game {
  width: 100%;
  height: 100%;
  display: flex;
}

.display {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-panel {
  flex: 1;
  justify-content: center;
}

#la {
  order: 3;
}

#game-panel {
  flex: 2;
  order: 2;
  justify-content: space-around;
  position: relative;
}

#title {
  font-size: 5em;
  position: relative;
  color: #209cb5;
  font-family: 'Fredericka the Great', cursive;
}

#remix {
  font-family: againts;
  position: absolute;
  left: 60%;
  top: 70%;
  color: #990016;
  font-size: 0.5em;
  transition: linear;
}

#round-info {
  display: flex;
  width: 100%;
  font-family: 'Spectral SC', cursive;
}

.answers-list {
  background-color: rgba(240, 240, 240, 0.1);
  height: 90%;
  width: 84%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.info {
  width: 50%;
  font-size: 2em;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

#clock, #score {
  color: #990016;
}

#message {
  min-height: 2em;
  font-size: 2em;
  font-family: 'Spectral SC', serif;
  text-align: center;
}

.fade {
  opacity: 0;
  transition: all 3s ease-out;
}

#key-word {
  min-height: 80px;
  width: 80%;
  height: 8%;
}

#entry-container {
  width: 80%;
  height: 8%;
  border: none;
  min-height: 80px;
}

#user-input {
  width: 100%;
  height: 100%;
  font-size: 32px;
  border: none;
  outline: none;
  padding: 0;
  text-align: center;
  font-family: 'Alfa+Slab+One', serif;
  background-color: rgba(240, 240, 240, 0.1);
}

#base {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

#controls {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

#new-game, #gg {
  text-align: center;
  background: none;
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.5em;
  outline: none;
}

.clr-grn {
  color: #008000;
}

.clr-red {
  color: #990016
}

#klu-info {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.answer {
  display: flex;
  font-family: 'Alfa+Slab+One', serif;
}

.search:hover, i:hover {
  cursor: help;
}

.tile {
  border: 1px solid #ffffff;
  width: 15px;
  height: 15px;
  margin: 1px;
  display: flex;
  justify-content: center;
  font-size: 85%;
  align-items: center;
}

.end-game {
  color: #990000;
}

#key-word .answer {
  color: #000000;
  height: 100%;
  width: 100%;
  font-weight: 400;
}

#key-word .tile {
  width: 100%;
  height: 100%;
  font-size: 4em;
  align-items: center;
  box-sizing: border-box;
}

.icons {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  #game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(40%, auto);
  }
  #game-panel {
    grid-column: 1/3;
    order: 1
  }
  #sa {
    order: 2;
  }
  #la {
    order: 3;
  }
  .instructions {
    height: 40%;
    overflow: scroll;
  }
}

@media screen and (max-width: 600px) {
  #game {
    display: flex;
    flex-direction: column;
  }
  .display {
    min-height: 60%;
  }
  .answers-list {
    height: 96%;
  }
}
